.header__logout {
    background: none;
    border: none;
    padding: 0;
    color: #A9A9A9;
    font-size: 18px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin-left: 24px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.header__logout:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .header__logout {
        margin: 0;
        display: none;
    }
}