.auth__secondary-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.5s ease;
    margin-bottom: 20px;
}

.auth__secondary-link:hover {
    opacity: 0.6;
}